* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at top, #1e3756 0%, #111437);
  color: #dedede;
}

:root {
  font-size: 16px; /*Cuando definimos el tamaño de la fuente en root, estamos declarando el valor de 1 rem */
}

#root {
  width: 100%;
}